* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:  #06141b;
    color: #9ba8ab;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: 300px;
    width: 400px;
    border-radius: 4px;
    box-shadow: black 10px 10px 5px;
    margin: 15px;
    transition: all .2s ease;
}

#image-hover {
    margin-bottom: 75px;
}

#carousel {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    margin: auto;
}

#carousel-btns {
    top: 50%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

button {
    border: none;
    color: #9ba8ab;
    background-color: transparent;
    font-size: 32px;
    cursor: pointer;
}

:disabled {
    opacity: 0.5;
    cursor:default;
}
